.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	border: none;
	color: #F4F2DE;
	background-color: #6C4D32;
	border-radius: 6px;
}

.btn,
.btn:hover,
.btn:focus
.btn:active {
	color: white;
	background-color: rgba(108, 77, 50, 0.7);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #CC614F;
}

.btn-alt,
.btn-alt:hover,
.btn-alt:focus
.btn-alt:active {
	color: white;
	background-color: rgba(204, 97, 79, 0.7);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}