.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	border: none;
	color: #000;
	border: 3px solid #000;
}

.btn,
.btn:hover,
.btn:focus
.btn:active {
	color: white;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #FFF;
}

.btn-alt,
.btn-alt:hover,
.btn-alt:focus
.btn-alt:active {
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}