@import url('http://weloveiconfonts.com/api/?family=entypo');
{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.content {
  padding: 30px;
  text-align: center;
  background: rgba(206, 196, 182, 0.3);
  color: #CC614F;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  margin-bottom: 2rem;
  line-height: 70px;
  font-family: Entypo;
  font-size: 35px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #CC614F;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  background-color: rgba(204, 97, 79, 0.8);
  cursor: pointer;
}
