@import url('http://weloveiconfonts.com/api/?family=entypo');
{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.content {
  padding: 30px;
  text-align: center;
  background: #000;
  color: #91AA3D;
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  margin-bottom: 2rem;
  line-height: 40px;
  font-family: Entypo;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  transition: color .3s;
}

.social:hover {
  background-color: #666;
  cursor: pointer;
}
