.masthead {
	background-color:rgba(206, 196, 182, 0.3);
	height: 60px;
}

.logo {
	display: block;
	height: 60px;
	width: 60px;
	margin: 0 auto;
	padding-top: 10px;
}

.nav a,
.nav a:link,
.nav a:visited{
	display: block;
	padding: 1rem;
	text-align:center;
	text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
	background-color: rgba(244, 242, 222, 0.3);
}

.current {
	background-color: rgba(244, 242, 222, 0.3);
}

.banner {
	background: #6e9d1b url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 5em 1em 1em;
	text-align: center;
	margin-top: 15rem;
	margin-bottom: -10rem;
}

.banner h2 {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
}