# Accessibility Testing Report

User testing was conducted by Samantha Nickerson on Wenesday, April 2, 2014 between the times of 3pm and 5pm with the following participants:

- Logan Brandwood
- Giulia Balestra
- Tara Boland
- Ivy Labossiere
- Shelley Babij
- Ariah Boots

## Tasks

1. Read About The Tea Company
2. Get detailed information on Earl Grey Black Tea
3. Select a tea and bring it to the check out

---

## Individual Results & Observations

### Logan Brandwood

- She was able to navigate through using only the keyboard
- She had trouble seeing when the About section of the navigation was highlighted using the tab key

### Shelley Babij

- She completed the task using the tab key
- she had trouble knowing when the navigation was selected

### Ariah Boots

- she finished the task as expected
- her only comment was the make the navigation selection easier to see

### Giulia Balestra

- She completed the task
- She struggled to get back to the top of the page

### Ivy Labossiere

- she completed the task
- she had trouble getting back to the top of the page using the Return to Top button in the footer

### Tara Boland

- She was able to finish the task
- She was unsure about the image link on the products page 

---

## Trends

### Needs Fixing

- All participants found that the selection box needed fixing, especially around the navigation area, for those using keyboards

### Causes Frustration

- Some participants found it difficult to reach the top of the page in the during the voice over test, using the Return to Top button in the footer of the website


### Minor, Annoying, Won’t Hinder Completion

- One participant found the product link being the image a big confusing while completing the voice over test
