---
layout: default
title: Home
meta: Homepage of The Tea Company
showbanner: yes
bannertext: All the Tea and Company you need.
---
	
	<div class="grid">
		<div class="gutter unit">
		{% include promo-large.html title="New Blends" desc="Our newest blends starting at $5." image="promo.jpg" %}
		</div>
	</div>
	
	<h1>The Tea Company</h1>
	<p>We carry a wide variety of premium black, white and green teas.</p>
	
	<main role="main">	
		<h2>Types of Teas</h2>
		
		<div class="grid">
			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Green Tea" desc="20% off selected items." image="green-tea.jpg" %}
			</div>
			
			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="White Tea" desc="Enjoy 3 free samples with every order before june 1st!" image="white-tea.jpg" %}
			</div>
			
			<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Black Tea" desc="Collect a free mug with selected items." image="black-tea.jpg" %}
			</div>	
		</div>
	</main>