---
layout: default
title: Home
meta: Handcrafted jewelry designed for any occasion.
---
	<h1>Welcome!</h1>
	
	<div class="grid">
		<div class="unit unit-m-1 unit-s-1 {">
			<p>At Jewelry By Design, we strive to make beautiful handcrafted accessories for any occasion.</p>
		</div>
	</div>
	
	</div>
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-large.html title="Sale" desc="Beautiful handcrafted necklace on sale for $10.00." image="large-promo.jpg" %}
		</div>
	<div>
	
	<div class="grid">
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Rings" desc="Beautiful handcrafted rings." image="ring.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Bracelets" desc="Bracelets for any occasion" image="bracelets.jpg" %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Necklaces" desc="Necklaces designed for your everyday" image="necklace.jpg" %}
		</div>	
	</div>