# User Testing Report

User testing was conducted by Samantha Nickerson on Tuesday, April 1st 2014 between the times of 3:50pm and {end time} with the following participants:

- {Jane Doe}
- {John Doe}
- {Jordan Doe}

## Tasks

1. Read About The Tea Company
2. Get detailed information on Earl Grey Black Tea
3. Select a tea and bring it to the check out

---

## Individual Results & Observations

### {Jane Doe}

- She clicked on the links as expected…
- She had to scroll down to see more of the products
- Observations: she said to make products align to grid (3 in a row) for large screens.

### {John Doe}

- {He clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {He asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

### {Jordan Doe}

- {She clicked on the link as expected…}
- {He had troubles completing a specific task…}
- {She asked these questions…}
- {Fill in any observations that were important/relevant…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had this problem…}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants succeeded where one of them failed…}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {Participants pointed out this inconsistency…}
- etc.