# User Testing Report

User testing was conducted by Samantha Nickerson on Tuesday, April 1st 2014 between the times of 3:50pm and {5pm} with the following participants:

- Giulia Balestra
- Logan Brandwood
- Tara Boland

## Tasks

1. Read About The Tea Company
2. Get detailed information on Earl Grey Black Tea
3. Select a tea and bring it to the check out

---

## Individual Results & Observations

### Giulia Balestra

- She clicked on the links as expected…
- She had to scroll down to see more of the products
- Observations: she said to make products align to grid (3 in a row) for large screens.

### Logan Brandwood

- She clicked on the links as expected…
- She wasn't sure if "Buy Now" button was the final checkout stage

### Tara Boland

- She clicked on the links as expected…
- She found the navigation easy to follow
- She found "Buy Now" button should say something more like "Checkout"

---

## Trends

### Serious, Causes Frustration, May Hinder Completion

- {Two of the participants questioned the "Buy Now" button

### Minor, Annoying, Won’t Hinder Completion

- Participants pointed out that it would be easier not to scroll down to see one product at a time. Using grid would help.