---
layout: tea-list
title: Tea
---
<main role="main">
	
	<div class="grid promo-small">
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<h3>Black</h3>
			{% include tea-list.html type='Black Teas' %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<h3>Green</h3>
			{% include tea-list.html type='Green Teas' %}
		</div>
		
		<div class="gutter unit unit-s-1 unit-m-1-2 unit-l-1-3">
			<h3>White</h3>
			{% include tea-list.html type='White Teas' %}
		</div>
		
	</div>

</main>