
html, body {
  height: 100%;
}

.content {
  padding: 30px;
  text-align: center;
  background: #000;
  color: #91AA3D;
}

.top a,
.top a:link,
.top a:visited{
  text-align:center;
  text-decoration: none;
  color: #FFF;
}

.top a:hover,
.top a:focus,
.top a:active {
  color: #999;
}

.footer {
	padding: 2px 0;
	text-align: center;
	background-color: #e6e6e6;
	height: 65px;
	margin-top: 30px;
}

.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  margin-bottom: 2rem;
  line-height: 40px;
  font-family: Entypo;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #000;
  overflow: hidden;
  transition: color .3s;
}

.social a,
.social a:link,
.social a:visited {
	border: 0;
}

.social:hover {
  background-color: #666;
  cursor: pointer;
}
